{%- macro getId(index_pattern, title) -%}
    {%- set id_prefix = index_pattern -%} {# Used for referencing other visualizations. Later, it will be replaced with a random ID to be used for all generated visualizations for a single run. #}
    {{- id_prefix~"_"~title.lower() | regex_replace('\\s', '-') -}} {# Should match the filenames of generated visualizations #}
{%- endmacro -%}

{#- Required params: "index_pattern", "item[.title]" -#}
{%- if index_pattern and item and item.title -%}
    {%- set vis = item -%}
    {%- set title = "("~index_pattern~")" ~ " " ~ vis.title -%}
    {%- set id = getId(index_pattern, vis.title) -%}
{%- endif -%}

{%- block kibana %}{% endblock kibana -%}